@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-main: #000000;
    --color-base: #ffff;
    --color-accent: #808080;
    --color-alert: #ff0000;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: var(--color-main);
    background-color: var(--color-bace);
}

button,
a {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
    display: inline-block;
}

button:hover,
a:hover {
    opacity: 0.7;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    display: block;
}

input,
textarea {
    border: 0.1rem solid var(--color-accent);
    padding: 1rem;
    border-radius: 0.5rem;
}

input:focus,
textarea:focus {
    outline: 0.1rem solid var(--color-main);
}

input[type="radio"] {
    cursor: pointer;
}

.link {
    text-decoration: underline;
}

.btn {
    background-color: var(--color-main);
    color: var(--color-base);
    padding: 1rem 2rem;
    width: 200px;
    border-radius: 0.5rem;
}

.container {
    width: 900px;
    margin: 0 auto;
    padding: 60px 0;
}

.title {
    text-align: center;
    font-size: 2.5rem;
}
